# SLURM profile to be used with 'snakemake --profile=slurm'

executor: slurm

default-resources:
#  slurm_account: XXX   # Adjust or set $SLURM_ACCOUNT
#  slurm_partition: YYY  # Adjust
  runtime: 120
  mem_mb: 2000

set-resources:
  single_end_truth:
    runtime: 10
    mem_mb: 2000

  mason_variator:
    mem_mb: 16000
    runtime: 720

  mason_simulator:
    mem_mb: 32000
    runtime: 2880

  mason_simulator_long:
    mem_mb: 32000
    runtime: 2880

  sim0:
    runtime: 900

  sim0_long:
    runtime: 900

  ccs:
    mem_mb: 32000

  bwa_index:
    mem_mb: 8000
    runtime: 360

  compile_strobealign:
    mem_mb: 8000

  bam_accuracy:
    mem_mb: 2000
    runtime: 30

  paf_accuracy:
    mem_mb: 2000
    runtime: 30

  bwa_mem_paired_end:
    mem_mb: 32000

  bwa_mem_single_end:
    mem_mb: 32000

  minimap2_index:
    mem_mb: 32000

  minimap2_paf_paired_end:
    mem_mb: 24000

  minimap2_paf_single_end:
    mem_mb: 24000

  minimap2_paired_end:
    mem_mb: 24000

  minimap2_single_end:
    mem_mb: 24000

  paf_accuracy:
    mem_mb: 2000

  xmapper_paired_end:
    mem_mb: 32000
    runtime: 120

  xmapper_single_end:
    mem_mb: 32000
    runtime: 120

  strobealign_paf_paired_end:
    mem_mb: 38000

  strobealign_paf_single_end:
    mem_mb: 38000

  strobealign_paired_end:
    mem_mb: 38000

  strobealign_single_end:
    mem_mb: 38000

rerun-triggers: mtime
jobs: 1000
cores: 8
printshellcmds: true
